:root {
  --login-bg: #fffef0;
  --login-blue: #457b9d;
  --login-red: #e63946;
  --login-yellow: #f1c40f;
  --login-black: #212529;
  --login-white: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  font-family: cursive;
  text-align: center;
  padding: 20px 0;
  font-size: 1.3rem;
}