:root {
  --login-bg: #fffef0;
  --login-blue: #457b9d;
  --login-red: #e63946;
  --login-yellow: #f1c40f;
  --login-black: #212529;
  --login-white: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  font-family: cursive;
  text-align: center;
  padding: 20px 0;
  font-size: 1.3rem;
      position: relative; /* Establece contexto para ::before */
  z-index: 1; /* Para que el contenido siga encima de los puntos */
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* deja pasar los clicks */
  background-image: radial-gradient(var(--comic-yellow) 2px, transparent 2px);
  background-size: 10px 10px;
  opacity: 0.2;
  z-index: -1; /* se queda detrás de todo el contenido de .puntos */
}